<!DOCTYPE html>
<!--Tipo de archivo e dioma del sitio web-->
<html lang="es">

  <head>
    <!--Codificación de carácteres especiales-->
    <meta charset="utf-8">
    <!-- Define área usada por browser-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Tipografías-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Se vinculan estilos-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- Título web page-->
    <title>Lyft-Mobile</title>
    <!-- Icono página-->
    <link rel="shortcut icon" href="../assets/images/moustache.png">
  </head>

  <body>

    <!-- Fondo con degradada de colores-->
    <div class="gradient">
      <header class="row ">
        <figure class="">
          <a href="../views/home.html">"> <i class="white fa fa-home" aria-hidden="true">Inicio</i> </a>
        </figure>
      </header>

      <!-- Contenedor principal-->
      <div class="logo-container">
        <div class="col-xs-8 col-sm-4">
          <!-- Logo bblanco-->
          <img class="splash-logo" src="../assets/images/lyft-white.png" alt="Logo Lyft">
          <div class="text-center">
            <h1 class="white">You Rock!</h1>
            <div> <i class="glyphicon glyphicon-thumbs-up"></i></div>
          </div>
        </div>
      </div>

    </div>

    <!-- Se vincula jQuery-CDN / JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>

</html>
